ul {
  list-style-type: none;
  margin: 12;
  padding: 0;
  overflow: hidden;
  background-color: #ffe600;
}

li {
  float: left;
}

li a {
  display: block;
  color:rgb(0, 132, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00ff00;
}
body {
  background-color: rgb(4, 255, 213);
}